aiofiles
aiohttp==3.9.5
apscheduler
asyncio
blackpink
cachetools
dnspython
ffmpeg-python
gpytranslate
gtts
httpx[http2]==0.27.2
motor
moviepy
numpy
opencv-python
openai
pillow
psutil
pyjokes
pytz
python-telegram-bot
requests
rich
speedtest-cli
telegraph
telethon
tgcrypto
unidecode
uvloop
lyricsgenius
yt-dlp
youtube-search
youtube-search-python
beautifulsoup4
Pyrofork
TgCrypto
py-tgcalls>=0.9.7
yt-dlp>=2024.1.0
yt-dlp-rustypipe-plugin>=0.1.0
ffmpeg-python
