aiofiles
Python_ARQ
aiohttp==3.9.5
apscheduler
yt_dlp
asyncio
blackpink
cachetools
gpytranslate
gtts
httpx[http2]==0.27.2
motor
telegraph
moviepy
numpy
opencv-python
pillow
psutil
pytz
python-telegram-bot
requests
rich
speedtest-cli
tgcrypto
unidecode
uvloop
lyricsgenius
beautifulsoup4
Pyrofork
TgCrypto
pyrogram>=2.0
telethon>=1.27
