aiofiles
aiohttp==3.9.5
apscheduler
asyncio
blackpink
cachetools
dnspython
ffmpeg-python
gpytranslate
gtts
httpx[http2]==0.27.2
motor
moviepy
numpy
opencv-python
openai
pillow
psutil
pyjokes
pytz
python-telegram-bot
requests
rich
speedtest-cli
telegraph
telethon
tgcrypto
unidecode
uvloop
lyricsgenius
youtube-search
youtube-search-python
beautifulsoup4
Pyrofork
TgCrypto
py-tgcalls>=1.2.0
yt-dlp>=2024.09.27
yt-dlp-get-pot
yt-dlp-get-pot-rustypipe
